#h5 h2{
	line-height: 80px;
}

#h5 .title{
	font-weight: bold;
	font-size: 14px;
}
#h5 .h5_title{
	text-align: center;
	line-height: 30px;
}

#h5 .h5_advs{
	width: 1000px;
	margin: auto;
}
#h5 .h5_advs>div{
	float: left;
	padding: 100px 0;
}
#h5 .h5_advs .h5_advs_img{
	width: 40%;
}
#h5 .h5_advs .h5_adv{
	width: 60%;
}
#h5 .h5_advs>div>div{
	float: left;
	width: 50%;
	text-align: center;
	margin-bottom: 80px;
}
#h5 .h5_advs>div>div>p{
	width: 50%;
	line-height: 30px;
	margin: auto;
}
#h5 .h5_advs>div>div>img{
	margin-bottom: 20px;
}

#h5 .h5_ui_main{
	position: relative;
	width: 600px;
	margin: auto;
}
#h5 .h5_ui_content{
	position: absolute;
	padding-top: 50px;
	width: 100%;
	text-align: center;
	color: white;
}
#h5 .h5_ui_ictitle{
	margin-top: 150px;
}
#h5 .h5_ui_ictitle span{
	display: block;
	float: left;
	width: 200px;
}