#wx .title{
	font-weight: bold;
	font-size: 14px;
}
#wx .page_title{
	width:800px;
	margin:52px auto;
}
#wx .wx_adv{
	border: 1px solid #d8d8d8;
	padding: 30px 60px;
	margin-bottom: 50px;
}
#wx .wx_adv ul{
	border-left: 1px dashed #3e597a;
	padding-left: 55px;
}
#wx .wx_adv li{
	position: relative;
	height: 60px;
	line-height: 30px;
	padding: 10px 0;
}
#wx .wx_adv li:not(:last-child){
	border-bottom: 1px dashed #d8d8d8;
}
#wx .wx_adv_num{
	position: absolute;
	top:10px;
	left: -80px;
	padding: 5px 0 5px;
	background-color: white;
}
#wx .wx_adv_num>span{
	display: inline-block;

	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 25px;
	background-color: #3c3c3c;
	font-family: 'impact';
	font-size: 30px;
	color: white;
}

#wx .wx_good{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
#wx .wx_good_item{
	width: 220px;
	height: 320px;
	padding: 15px;
}
#wx .wx_good_item:not(:first-child){
	margin-left: 100px;
}
#wx .wx_good_item:nth-child(2n-1){
	background-color: #ff9600;
}
#wx .wx_good_item:nth-child(2n){
	background-color: #1e6ad2;
}
#wx .wx_good_content{
	height: 100%;
	border:1px dashed white;
}
#wx .wx_good_content div{
	padding: 40px 0;
	width: 90%;
	height: auto;
	margin: auto;
	text-align: center;
	line-height: 24px;
}
#wx .wx_good_content div p{
	color: white;
}
#wx .wx_good_content .title{
	margin: 10px auto 30px;
}

#wx .wx_case{
	margin-top: 100px;
	padding: 100px 0;
	background: url(../images/wx_bg2.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	text-align: center;
}
#wx .wx_case_main>div{
	float: left;
	width: 120px;
	margin: 30px 0;
	line-height: 24px;
}
#wx .wx_case_main div:not(:nth-child(5n)){
	margin-right: 145px;
}
#wx .wx_case_main div img{
	margin-bottom: 20px;
}