{include file="public/top" title="DOJAY123" name="about" /}
<div class="about_adv">
	<div class="container_w">
		<h1>我们用专业塑造品牌互联网形象</h1>
		<p>斗捷网络是一家创新型设计与制作服务公司</p>
		<p>以全新的视觉设计及出色的用户体验为合作伙伴创造更大的商业价值</p>
		<ul>
			<li>
				<img src="/static/images/about_adv1.png" class="fl">
				<span class="fr">
					<strong>经验保障</strong><br>
					100%满意<br>
					零纠纷<br>
					5年建网<br>
					上千客户
				</span>
			</li>
			<li>
				<img src="/static/images/about_adv2.png" class="fl">
				<span class="fr">
					<strong>专属保障</strong><br>
					需求分析<br>
					精心策划<br>
					量身定做
				</span>
			</li>
			<li>
				<img src="/static/images/about_adv3.png" class="fl">
				<span class="fr">
					<strong>技术保障</strong><br>
					百人团队<br>
					技术经理全程跟进
				</span>
			</li>
		</ul>
		<ul>
			<li>
				<img src="/static/images/about_adv4.png" class="fl">
				<span class="fr">
					<strong>价格保障</strong><br>
					明确报价<br>
					不做低价诱惑<br>
					不做暴力价格
				</span>
			</li>
			<li>
				<img src="/static/images/about_adv5.png" class="fl">
				<span class="fr">
					<strong>服务保障</strong><br>
					清晰流程<br>
					每日客户通告<br>
					一次服务终生关注
				</span>
			</li>
			<li>
				<img src="/static/images/about_adv6.png" class="fl">
				<span class="fr">
					<strong>售后保障</strong><br>
					免费维护<br>
					24小时技术支持
				</span>
			</li>
		</ul>
	</div>
</div>
<div class="container_w about_computer about_computer1">
	<img src="/static/images/computer1.png">
	<span>
		<strong>对于细节的追求，我们向来偏执！</strong>
		<p>
			好的网站是在用户体验，功能流程和界面设计之间寻找一种平衡。最终形成一种在应用和设计表达上高度契合之美。为此，斗捷深度剖析与刻画每个网建环节力求统一的完美。唯有工匠精神才能成就专业典范。
		</p><br>
		<p>
			态度决定一切，我们相信唯有用心做好每一个项目，才能在每个项目实际操作中积累经验，并使之转化为自身的专业积累，而这需要夜以继日，需要持之以恒。斗捷相信坚持必定有收获。
		</p>
	</span>
</div>
<div class="container_w about_computer about_computer2">
	<span>
		<strong>洞察未来引领行业发展</strong>
		<p>
			通过自己的专业眼光，为客户提供各类解决方案，始终为客户思考如何占领互联网。
		</p><br>
		<p>
			一个人能走多远，取决于与谁同行，我们是一个富有理想和激情的团队，也是一个技术专业化、管理人性化、创新型和学习型的优秀团队。
		</p>
	</span>
	<img src="/static/images/computer2.png">
</div>
<div class="about_culture">
	<div class="container_w">
		<h1>公司文化</h1>
		<span></span>
	</div>
</div>
{include file="public/process" /}
{include file="public/partner" /}
{include file="public/about" /}
<div class="about_text">
	<h1>一流企业建设一流网站</h1>
	<p>我们提供高品质服务，建立高质量网站，坚持以“一流企业建设一流网站”的服务理念，长期服务于大中型企业，</p>
	<p>为其提供高品质一站式网络运营方案，多次获得客户嘉奖。同时，针对中小型企业，我们将提供斗捷服务平台，多渠道辅助企业，获取双赢的局面。</p>
	<p>多年的项目经验帮助我们成功探索出了一套涵盖用户研究、需求分析、产品定位、交互设计、</p>
	<p>视觉传达、技术实施、测试部署、运营维护、营销推广等全方位的规范服务流程，从而帮助客户不仅可以完成优秀的项目，还可以得到互联网方面的长期专业帮助。</p>
	<p>从成立至今，斗捷已成功进行过数千个项目的专业技术实施服务，斗捷专业的顾问团队、稳定的开发人员、强大的技术能力、贴心的客户服务深受广大客户的赞誉和信赖。</p>
</div>
{include file="public/footer" /}