{include file="public/top" title="DOJAY123" name="app" /}
<div id="app">
	<img src="/static/images/app_bg.jpg" width="100%">
	<div class="container_w">
		<ul class="app_cate">
			<li class="app_cate_active"><img src="/static/images/android.png"><img src="/static/images/android_t.png"></li>
			<li><img src="/static/images/ios.png"><img src="/static/images/ios_t.png"></li>
		</ul>
		<div class="app_item">
			<div class="app_item_active">
				<div class="app_text">
					<h2>了解安卓</h2>
					<p>
						安卓是由Google公司和开放手机联盟领导开发的操作系统，最初主要支持手机，后逐渐扩展到平板电脑以及其他领域。2007年11月，谷歌与众多硬件制造商、软件开发商及电信运营商组成开放手持设备联盟来共同研发改良Android。随后Google发布了Android源代码，并于2008年发布了第一款Android智能手机。
					</p>
				</div>
				<div class="app_adv">
					<h2>安卓APP开发优势</h2>
					<div class="app_adv_row1">
						<div>
							<img src="/static/images/android_1.png">
							<h3>Android系统用户数量多</h3>
							<span>
								截止到2017年2月，安卓系统在国内市场占有率达到86%，每5部手机中大约有4部安装了安卓系统。而使用安卓系统的华为、小米等国内品牌，也深受欢迎，安卓APP应用市场有更好的发展前景。
							</span>
						</div>
						<div>
							<img src="/static/images/android_2.png">
							<h3>Android系统开放性高</h3>
							<span>
								安卓系统开放性高，显著的开放性使得其拥有更多的开发者，而且安卓APP开发难度相对于IOS开发难度要小，有利于Android系统人气的积累。
							</span>
						</div>
					</div>
					<div class="app_adv_row2">
						<div>
							<img src="/static/images/android_3.png">
							<h3>Android硬件条件丰富</h3>
							<span>
								Android硬件条件丰富源和安卓系统开放性相关，众多厂商会推出功能各异的多种产品，功能上的差异和特色，不会影响到数据同步、设置软件的兼容。
							</span>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="app_text">
					<h2>IOS 开发</h2>
					<p>
						IOS是由苹果公司开发的移动操作系统，原名iPhone OS，因为iPhone、iPad、iPod touch都使用iPhone OS，便改名为IOS。最初是设计给iPhone使用的，后来陆续用到iPad、iPod touch以及Apple TV等产品上。因为IOS系统稳定性高，界面美观易操作，安全性强以及应用软件数量多，所以IOS平台拥有数量庞大的app和第三方开发公司。
					</p>
				</div>
				<div class="app_adv">
					<h2>IOS APP开发的3大优势</h2>
					<div class="app_adv_row1">
						<div>
							<img src="/static/images/ios_1.png">
							<h3>IOS APP营收更容易</h3>
							<span>
								相对于Android用户来说，iPhone用户具有较高的消费能力，一方面来说苹果用户较为宽裕，另一方面IOS系统支付方式也很方便。同一个应用，同时在苹果与安卓平台上面运营，用户更愿意在苹果平台进行消费。
							</span>
						</div>
						<div>
							<img src="/static/images/ios_2.png">
							<h3>IOS系统机型少、适配性高</h3>
							<span>
								IOS机型少，所以IOS开发的适配性很高，IOS开发商可以针对性的进行APP开发，很少会出现机型不配的问题。
							</span>
						</div>
					</div>
					<div class="app_adv_row2">
						<div>
							<img src="/static/images/ios_3.png">
							<h3>IOS应用发布统一且唯一</h3>
							<span>
								IOS系统只有一个APP Store官方商店，而Android系统有很多应用商店，所以企业选择在IOS系统上发布APP，不仅提升了APP应用软件的安全，也减少了在多平台上的维护费用。
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="/static/images/app_bg1.jpg" width="100%">
</div>
{include file="public/footer" /}