{include file="public/top" title="DOJAY123" name="contact" /}
<div id="contact">
	<div class="contact_main container">
		<ul>
			<li>
				<dl>
					<dt>Address</dt>
					<dd>上海市浦东新区世纪大道1500号</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>Tel</dt>
					<dd>李经理 18018597991</dd>
					<dd>丁经理 18018597991</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>Email</dt>
					<dd>shdoujie@163.com</dd>
					<dd>shdoujie@163.com</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>WeChat</dt>
					<dd><img src="/static/images/wx_gzh.jpg" height="100px"></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
{include file="public/footer" /}