{include file="public/top" title="DOJAY123" name="h5" /}
<div id="h5">
	<img src="/static/images/h5_bg.jpg" width="100%">
	<div class="h5_title">
		<h2>H5游戏及应用定制开发</h2>
		<p>
			以更好的操作体验设计 为您呈现指尖上的精彩互动
		</p>
		<p>
			在这里，你得到的不仅仅是一个H5，而将拥有更多
		</p>
	</div>
	<div class="h5_advs">
		<div class="h5_advs_img"><img src="/static/images/h5_sj.png" width="90%"></div>
		<div class="h5_adv">
			<div>
				<img src="/static/images/h5_adv1.png" width="80px">
				<p class="title">传播性</p>
				<p>微信病毒式传播，轻松曝光品牌，达成高销售转化</p>
			</div>
			<div>
				<img src="/static/images/h5_adv2.png" width="80px">
				<p class="title">娱乐性</p>
				<p>趣味游戏机制增加粉丝粘性互动性</p>
			</div>
			<div>
				<img src="/static/images/h5_adv3.png" width="80px">
				<p class="title">安全性</p>
				<p>专业团队24小时运营守护、反作弊系统</p>
			</div>
			<div>
				<img src="/static/images/h5_adv4.png" width="80px">
				<p class="title">便利性</p>
				<p>灵活设计5分钟极速制作！创意任你想</p>
			</div>
			<div>
				<img src="/static/images/h5_adv5.png" width="80px">
				<p class="title">数据化</p>
				<p>全方位的大数据分析系统，助你的企业玩转H5营销</p>
			</div>
			<div>
				<img src="/static/images/h5_adv6.png" width="80px">
				<p class="title">独特性</p>
				<p>为您的公众号平台创造独一无二的游戏体验</p>
			</div>
		</div>
	</div>
	<div style="clear:both;"></div>
	<div class="h5_ui">
		<div class="h5_ui_main">
			<div class="h5_ui_content">
				<p class="title h5_title">UI设计</p>
				<p class="title h5_title">更高标准的UI设计(界面设计)，是良好用户体验的第一步</p>
				<p class="h5_ui_ictitle">
					<span>色彩规划</span>
					<span>元素风格定位</span>
					<span>ICON设计</span>
				</p>
			</div>
		</div>
		<img src="/static/images/h5_ltbg.jpg" width="100%">
	</div>
	{include file="public/service_case" /}
</div>
{include file="public/footer" /}