{include file="public/top" title="DOJAY123" name="index" /}
<div class="banner">
	<div class="banner_main">
		<div bg_color="#1A1823" bg_img="/static/images/banner_bg1.jpg"><img src="/static/images/banner2.png"></div>
		<div bg_color="#232C35" bg_img="/static/images/banner_bg2.jpg"><img src="/static/images/banner3.png"></div>
		<div bg_color="#1A1823" bg_img="/static/images/banner_bg3.jpg"><img src="/static/images/banner4.png"></div>
	</div>
	<ul class="banner_cg">
		<li><span></span></li>
	</ul>
</div>

<div class="service">
	<div class="container">
		<span class="container_title">我们的服务 OUR SERVICE</span>
		<ul>
			<li>
				<a href="/service/web">
					<img src="/static/images/server_web.png">
					<p class="item">高端网站定制</p>
					<p>高端品牌网站、独立品牌商城、O2O门店系统</p>
				</a>
			</li>
			<li>
				<a href="/service/h5">
					<img src="/static/images/server_h5.png">
					<p class="item">H5开发</p>
					<p>H5游戏/单页定制开发服务</p>
				</a>
			</li>
		</ul>
		<ul>
			<li>
				<a href="/service/xcx">
					<img src="/static/images/server_xcx.png">
					<p class="item">小程序开发</p>
					<p>资讯展示型小程序、平台型小程序</p>
				</a>
			</li>
			<li>
				<a href="/service/wx">
					<img src="/static/images/server_weixin.png">
					<p class="item">微信深度定制开发与运营</p>
					<p>微官网、微商城、微会员等定制设计、实施及营销</p>
				</a>
			</li>
			<li>
				<a href="/service/app">
					<img src="/static/images/server_app.png">
					<p class="item">APP应用开发</p>
					<p>APP原型及界面设计、IOS开发、Andorid开发</p>
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="advantage">
	<div class="container">
		<span class="container_title">为什么选择我们 WHY DO YOU CHOOSE US</span>
		<ul>
			<li>
				<strong>--8年行业经验--</strong>
				<p>核心团队8年互联网开发及营销经验，策划执行众多500强品牌项目，拥有对整个行业的敏锐眼光。</p>
			</li>
			<li>
				<strong>--可视化服务流程--</strong>
				<p>项目执行过程中提供周月报，及时沟通项目进展，同时阶段性进行项目总结，调整执行策略。</p>
			</li>
			<li>
				<strong>--100+知名客户--</strong>
				<p>拥有众多品牌客户服务经历，为客户提供创意策划，项目执行，媒介购买等整合互动营销服务。</p>
			</li>
			<li>
				<strong>--KPI指标明确--</strong>
				<p>项目执行以结果为导向，提供有效的品牌推广服务，明确项目各阶段KPI，确保项目执行效果。</p>
			</li>
			<li>
				<strong>--团队精益执行--</strong>
				<p>斗捷从创立之初就自建了底层执行团队，执行环节不外包能够提升项目执行效率和精益项目管控。</p>
			</li>
			<li>
				<strong>--执行监控全面--</strong>
				<p>斗捷的服务执行公开透明，技术上修改执行，营销上的内容发布都以全面的报告形式呈现给客户。</p>
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>

{include file="public/new" /}

<div class="case">
	<div class="container">
		<div>
			<span class="container_title">请查看我们的案例 PLEASE LOOK AT OUR CASE</span>
			<a href="" class="container_more fr">更多案例+</a>
		</div>
		<ul class="">
			<li><a href="/">高端网站定制</a></li>
			<li><a href="/">H5开发</a></li>
			<li><a href="/">微信公众号</a></li>
			<li><a href="/">微信小程序</a></li>
			<li><a href="/">APP应用开发</a></li>
		</ul>
		<div>
			<div>
				<img src="/static/images/case1.jpg" style="display: inline-block;width:580px;float: left">
				<img src="/static/images/case1.jpg" style="display: inline-block;width:280px;float: left;margin-left: 15px;">
				<img src="/static/images/case1.jpg" style="display: inline-block;width:280px;float: left;margin-left: 15px;">
				<img src="/static/images/case1.jpg" style="display: inline-block;width:280px;float: left;margin-left: 15px;margin-top: 10px">
				<img src="/static/images/case1.jpg" style="display: inline-block;width:280px;float: left;margin-left: 15px;margin-top: 10px;">
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
</div>
{include file="public/process" /}
{include file="public/partner" /}
{include file="public/about" /}
{include file="public/footer" /}

