{include file="public/top" title="DOJAY123" name="web" /}
<div id="web">
	<img src="/static/images/web_bg.jpg" width="100%">
	<div class="container_w">
		<h2>斗捷高端网站建设核心</h2>
		<ul class="web_advs">
			<li  class="web_adv">
				<div class="web_adv_main">
					<div class="web_adv_img"><img src="/static/images/web_adv1.png"></div>
					<div class="web_adv_text">
						<strong>调研策划分析</strong>
						<p>
							知已知彼，取其精华去其糟粕；<br>
							行业相关网站汇总；<br>
							国外行业相关网站汇总；<br>
							网站主线内容分析调研；<br>
							网站架构分析调研；<br>
							网站设计风格调研。
						</p>
					</div>
				</div>
			</li>
			<li class="web_adv">
				<div class="web_adv_main">
					<div class="web_adv_img"><img src="/static/images/web_adv2.png"></div>
					<div class="web_adv_text">
						<strong>网站策划</strong>
						<p>
							这是核心，亦是网站价值成败的关键；<br>
							行业及产品调研，竞品分析；<br>
							网站内容有效性规划；<br>
							内容架构策划（平衡权重，合理逻辑引导）；<br>
							文案策划；<br>
							概念布局表现形式策划。
						</p>
					</div>
				</div>
			</li>
			<li class="web_adv">
				<div class="web_adv_main">
					<div class="web_adv_img"><img src="/static/images/web_adv3.png"></div>
					<div class="web_adv_text">
						<strong>网站设计</strong>
						<p>
							也许别人也有，但我们更系统因此更对心；<br>
							设计风格分析定位；<br>
							WVI网站色彩应用规划；<br>
							辅助图型概念定位设计；<br>
							主banner定位设计；<br>
							元素创意设计。
						</p>
					</div>
				</div>
			</li>
			<li class="web_adv">
				<div class="web_adv_main">
					<div class="web_adv_img"><img src="/static/images/web_adv4.png"></div>
					<div class="web_adv_text">
						<strong>网站开发</strong>
						<p>
							功能开发已不是门槛；<br>
							但我们依旧优中做优；<br>
							dojay—CMS应用开发体系；<br>
							PHP与JAVA针对性web开发；<br>
							整合SEO增量交互设计；<br>
							功能操作直观高效。
						</p>
					</div>
				</div>
			</li>
		</ul>
		<div style="clear: both;"></div>
	</div>
	<img src="/static/images/web_good.jpg" width="100%" class="web_good">
</div>
{include file="public/footer" /}