{include file="public/top" title="DOJAY123" name="wx" /}
<div id="wx">
	<img src="/static/images/wx_bg.jpg" width="100%">
	<div class="wx_title">
		<h2>微信二次开发</h2>
		<p>
			微信二次开发也叫做微信公众平台开发，微信营销作为当下最热门的线上营销方式被越来越多的企业所看重，但是微信平台自带的功能有很多局限性，无法满足企业的功能服务需求，所以就需要对微信公众平台进行二次开发。上海艾艺为客户提供专业的微信公众平台开发，在金融、医疗、酒店、教育、快递等行业有成熟的微信开发解决方案，是上海地区领先的一站式微信开发外包公司。
		</p>
	</div>
	<div class="container_w">
		<h2>企业为什么要做微信公众号开发</h2>
		<div class="wx_adv">
			<ul>
				<li>
					<div class="wx_adv_num"><span>01</span></div>
					<p class="title">移动互联网趋势</p>
					<p>移动互联网用户已超传统互联网用户，成为目前的主流</p>
				</li>
				<li>
					<div class="wx_adv_num"><span>02</span></div>
					<p class="title">巨大流量入口</p>
					<p>微信日平均用户达7亿，用户基数大，活跃度高</p>
				</li>
				<li>
					<div class="wx_adv_num"><span>03</span></div>
					<p class="title">强大的用户粘性和使用惯性</p class="title">
					<p>人人都在使用微信，其用户黏度没有任何一个产品可以比拟</p>
				</li>
				<li>
					<div class="wx_adv_num"><span>04</span></div>
					<p class="title">差异化服务</p class="title">
					<p>微信公众号开发定制，更有特色，更符合用户需求</p>
				</li>
				<li>
					<div class="wx_adv_num"><span>05</span></div>
					<p class="title">时尚的产品销售渠道</p class="title">
					<p>微商城开发，在线购买、支付、促销，互动最强的电商平台</p>
				</li>
				<li>
					<div class="wx_adv_num"><span>06</span></div>
					<p class="title">高效CRM管理</p class="title">
					<p>微信粉丝即用户，对用户分类管理和营销</p>
				</li>
				<li>
					<div class="wx_adv_num"><span>07</span></div>
					<p class="title">低成本营销</p class="title">
					<p>企业微信公众号是一次性投资，终身可以使用，同时有很多丰富的功能和应用帮企业推广和传播，物超所值</p>
				</li>
			</ul>
		</div>
		<h2>微信定制开发的好处</h2>
		<div class="wx_good">
			<div class="wx_good_item">
				<div class="wx_good_content">
					<div>
						<img src="/static/images/wx_msg.png">
						<p class="title">需求明确<br>Clear demand</p>
						<p>明确沟通客户需求，清晰产品逻辑</p>
					</div>
				</div>
			</div>
			<div class="wx_good_item">
				<div class="wx_good_content">
					<div>
						<img src="/static/images/wx_light.png">
						<p class="title">原创作品<br>Original works</p>
						<p>坚持原创，为品牌本身设计，自主定制开发</p>
					</div>
				</div>
			</div>
			<div class="wx_good_item">
				<div class="wx_good_content">
					<div>
						<img src="/static/images/wx_ren.png">
						<p class="title">专业团队<br>Professional team</p>
						<p>公司拥有专业的研发团队，为每一个项目认真负责</p>
					</div>
				</div>
			</div>
			<div class="wx_good_item">
				<div class="wx_good_content">
					<div>
						<img src="/static/images/wx_hert.png">
						<p class="title">后期服务<br>Post service</p>
						<p>为您提供技术支持及后期维护解除您后顾之忧</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="wx_case">
		<h2>定制开发板块</h2>
		<div class="container_w wx_case_main">
			<div>
				<img src="/static/images/wx_case1.png">
				<p class="title">微信服务号开发</p>
				<p>5分钟轻松建站<br>打造酷炫微官网</p>
			</div>
			<div>
				<img src="/static/images/wx_case2.png">
				<p class="title">微信会员卡</p>
				<p>方便携带 永不挂失<br>消费积分 一卡配备</p>
			</div>
			<div>
				<img src="/static/images/wx_case3.png">
				<p class="title">微商城</p>
				<p>小微信也有大商城<br>电商轻松就能走入微信</p>
			</div>
			<div>
				<img src="/static/images/wx_case4.png">
				<p class="title">微相册</p>
				<p>各行各业<br>照片展现轻松搞定</p>
			</div>
			<div>
				<img src="/static/images/wx_case5.png">
				<p class="title">图文推送</p>
				<p>5分钟轻松建站<br>定期推送，图文并茂，免费发布</p>
			</div>
			<div>
				<img src="/static/images/wx_case6.png">
				<p class="title">自动应答菜单</p>
				<p>通过形象的菜单界面引导顾客进行微信互动操作</p>
			</div>
			<div>
				<img src="/static/images/wx_case7.png">
				<p class="title">关键词回复</p>
				<p>便捷关键词<br>回复轻松设置</p>
			</div>
			<div>
				<img src="/static/images/wx_case8.png">
				<p class="title">大转盘</p>
				<p>快乐大转盘<br>幸运落谁家</p>
			</div>
			<div>
				<img src="/static/images/wx_case9.png">
				<p class="title">优惠券</p>
				<p>电子优惠券利益客户<br>又节约营销预算</p>
			</div>
			<div>
				<img src="/static/images/wx_case10.png">
				<p class="title">刮刮乐</p>
				<p>趣味游戏<br>吸引用户参与 沉淀用户</p>
			</div>
			<div>
				<img src="/static/images/wx_case11.png">
				<p class="title">问卷调查</p>
				<p>企业设置好题目，<br>由用户通过微信回答</p>
			</div>
			<div>
				<img src="/static/images/wx_case12.png">
				<p class="title">智能客服</p>
				<p>客户问题自动应答<br>无需人工值守</p>
			</div>
			<div>
				<img src="/static/images/wx_case13.png">
				<p class="title">微预约</p>
				<p>各种预约 一键即可<br>短信邮件会立即通知商户</p>
			</div>
			<div>
				<img src="/static/images/wx_case14.png">
				<p class="title">微旅游</p>
				<p>在线订房融入微信<br>酒店营销多一条有力途径</p>
			</div>
			<div>
				<img src="/static/images/wx_case15.png">
				<p class="title">一战到底</p>
				<p>融品牌于知识<br>便销售为乐趣</p>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<img src="/static/images/wx_bg3.jpg" width="100%">
</div>
{include file="public/footer" /}