{include file="public/top" title="DOJAY123" name="xcx" /}
<div id="xcx">
	<img src="/static/images/xcx_bg.jpg" width="100%">
	<div class="xcx_title">
		<p class="title">定制小程序开发</p>
		<p class="title">无论是整体框架，还是局部体验，我们都力求在每一个细节中做到完美</p>
	</div>
	<div class="container_w xcx_m">
		<div class="xcx_mt">
			<div>
				<img src="/static/images/xcx_m1.png" width="80px">
				<p class="title">附近小程序</p>
				<p>商家可在附近小程序展示，支持多店展示，解决商家引流难，推广难的问题</p>
			</div>
		</div>
		<div class="xcx_mt">
			<div>
				<img src="/static/images/xcx_m2.png" width="80px">
				<p class="title">线下扫码</p>
				<p>小程序不需要安装，用户通过微信扫一扫线下二维码即可进入小程序</p>
			</div>
		</div>
		<div class="xcx_mt">
			<div>
				<img src="/static/images/xcx_m3.png" width="80px">
				<p class="title">公众号关联</p>
				<p>同一主体的小程序和公众号可以互相关联，互相跳转，实现共赢服务</p>
			</div>
		</div>
		<div class="xcx_mt">
			<div>
				<img src="/static/images/xcx_m4.png" width="80px">
				<p class="title">分享传播</p>
				<p>支持分享页面到微信群和微信好友，营销推广一步搞定</p>
			</div>
		</div>
		<div class="xcx_mt">
			<div>
				<img src="/static/images/xcx_m5.png" width="80px">
				<p class="title">丰富的组件和API</p>
				<p>导航、多媒体、位置、视频等原生APP一样的功能支持，实现商家各种需求</p>
			</div>
		</div>
		<div class="xcx_mt">
			<div>
				<img src="/static/images/xcx_m6.png" width="80px">
				<p class="title">完善的用户系统</p>
				<p>无需登录，直接采用微信账号体系，极大降低用户首次使用门槛</p>
			</div>
		</div>
	</div>
	<img src="/static/images/xcx_t.jpg" width="100%" class="xcx_t">
	<div class="container_w">
		<img src="/static/images/xcx_sm.jpg" width="100%">
	</div>
</div>
{include file="public/footer" /}