<div class="case">
	<div class="container">
		<div>
			<span class="container_title">请查看我们的案例 PLEASE LOOK AT OUR CASE</span>
			{if condition="$is_more"}<a href="/cases" class="container_more fr">更多案例+</a>{/if}
		</div>
		<ul class="case_cates">
			<li><a href="javascript:" cate="web" class="active">高端网站定制</a></li>
			<li><a href="javascript:" cate="h5">H5开发</a></li>
			<li><a href="javascript:" cate="wx">微信公众号</a></li>
			<li><a href="javascript:" cate="xcx">微信小程序</a></li>
			<li><a href="javascript:" cate="app">APP应用开发</a></li>
		</ul>
		<div class="case_items">
			<div class="case_item web">
				<a href="/case/45" mark-color="rgb(244, 152, 29)">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45" mark-color="rgb(0,0,0)">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/case1.jpg">
				</a>
				<a href="/case/45" mark-color="rgb(40,40,40)">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/case2.jpg">
				</a>
				<a href="/case/45" mark-color="rgb(218, 17, 23)">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/case3.jpg">
				</a>
				<a href="/case/45" mark-color="rgb(36, 44, 80)">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/app_bg1.jpg">
				</a>
			</div>
			<div class="case_item h5">
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</div>
			<div class="case_item wx">
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</div>
			<div class="case_item xcx">
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</div>
			<div class="case_item app">
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
				<a href="/case/45">
					<div class="case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="case_line"></div>
					<div class="case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</div>
		</div>
<!-- 		<div class="fenye">
			<div class="fl">
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<span>5</span>
			</div>
			<div class="fr">
				<span>></span>
			</div>
		</div> -->
		<div style="clear:both;"></div>
	</div>
</div>