<footer>
	<div class="container">
		<dl class="fl footer_l">
			<dt>请联系我们 PLEASE CONTACT US</dt>
			<dd>
				上海斗捷网络科技有限公司
			</dd>
			<dd>
				地址：上海市浦东新区东方明珠
			</dd>
			<dd>
				电话：18018597991	18939873459
			</dd>
			<dd>
				邮箱：kf@shdoujie.com
			</dd>
		</dl>
		<dl class="fr footer_r">
			<dt><img src="/static/images/logo_w.png"></dt>
			<dd class="footer_r_c">
				<a href=""><img src="/static/images/qq_w.png"></a>&nbsp;|&nbsp;
				<a href=""><img src="/static/images/qq_w.png"></a>&nbsp;|&nbsp;
				<a href=""><img src="/static/images/qq_w.png"></a>&nbsp;|&nbsp;
				<a href=""><img src="/static/images/qq_w.png"></a>
			</dd>
			<dd>
				<a href="">关于斗捷</a>&nbsp;|&nbsp;
				<a href="">服务项目</a>&nbsp;|&nbsp;
				<a href="">成功案例</a>&nbsp;|&nbsp;
				<a href="">新闻资讯</a>&nbsp;|&nbsp;
				<a href="">联系斗捷</a>
			</dd>
			<dd>
				<a href="">斗捷小程序</a>&nbsp;|&nbsp;
				<a href="">斗捷微平台</a>&nbsp;|&nbsp;
				<a href="">百度开发者大会</a>&nbsp;|&nbsp;
				<a href="">阿里云计算</a>
			</dd>
			<dd>Copyright ©2018 DOJAY-斗捷网络 沪ICP备1221312-1</dd>
		</dl>
	</div>
</footer>
</body>
{js href="/static/js/jquery-3.1.1.min.js" /}
<script type="text/javascript">
// 导航栏-联系按钮
$(".contact li").hover(function(){
	c_li_i = $(".contact li").index(this);
	c_div = $(this).parent().find("div").eq(c_li_i);
	c_div.show();
},function(){
	c_div.hide();
})


$(".banner").height($(window).height()-120);

// BANNER轮播插件
$(function(){
var slide = {
    opt: {
		"o": ".banner", //最外层banner
		"m": ".banner_main", //banner主要部分
		"l": ".banner_cg", //banner切换按钮
		"auto" : true, //是否自动播放（功能未开发）
		"c_time" : 3500, //banner切换时间
		"a_time" : 1500, //banner显示完成所需时间
		"n" : 0, //从第几个banner开始（以0开始）
		"cur_li_class": "cur_li", //banner切换按钮（当前）
		"li_w": 80, //banner切换非当前按钮宽度
		"cur_li_w": 110 //banner切换当前按钮宽度
    },
    init : function(options) {
    	slide.opt = $.extend(slide.opt,options);
		slide.t = $(slide.opt.m+" div").length;
		slide.banner_h = $(slide.opt.m).height();
		slide.banner_w = $(slide.opt.m).width();
		$(slide.opt.m+" img").css({'right':slide.banner_w});
		slide.create_li();
		slide.play(slide.opt.n);
		anm = setInterval("slide.play()", slide.opt.c_time);
		$(document).on('click', slide.opt.l+' li span', function(e) {
			clearInterval(anm);
			i = $(slide.opt.l+" li").index($(this).parent());
			slide.play(i);
			anm = setInterval("slide.play()", slide.opt.c_time);
		});
    },
    play : function(n){
    	if(n==undefined){
    		slide.opt.n = (slide.opt.n>=slide.t-1)?0:(++slide.opt.n);
    	}else{
    		slide.opt.n = n;
    	}
		$(slide.opt.m+" div").hide();
		var cur_div = $(slide.opt.m+" div").eq(slide.opt.n);
		$(slide.opt.m+" img").css({'right':slide.banner_w});
		$(slide.opt.o).css({'background':cur_div.attr("bg_color")+' url('+cur_div.attr("bg_img")+') left bottom no-repeat'});
		cur_div.show().find("img").animate({'right':"0"},slide.opt.a_time);
		slide.change_li();
	},
	create_li : function(){
		for (var i=slide.t-1;i>0;i--) {
			$(slide.opt.l).append($(slide.opt.l+" li").eq(0).clone(true));	
		}
		$(slide.opt.l).width((slide.opt.li_w)*(slide.t-1)+slide.opt.cur_li_w).find("li").eq(0).addClass(slide.opt.cur_li_class);
	},
	change_li : function(){
		$(slide.opt.l+" li").removeClass(slide.opt.cur_li_class).eq(slide.opt.n).addClass(slide.opt.cur_li_class);	
	}
}
window.slide = slide;
}());
slide.init();


// app
$(".app_cate li").click(function(){
	var i = $(".app_cate li").index(this);
	$(".app_cate>li").removeClass('app_cate_active').eq(i).addClass('app_cate_active');
	$(".app_item>div").removeClass('app_item_active').eq(i).addClass('app_item_active');
})



</script>
</script>
</html>