<div class="news">
	<div class="container">
		<div>
			<span class="container_title">我们的动态消息 OUR DYNAMIC MESSAGE</span>
			{if condition="$is_more"}<a href="" class="container_more fr">更多消息+</a>{/if}
		</div>
		<ul>
			<li>
				<a href="/news/123">
					<div class="new_date"><strong>12</strong><br>2018.06</div>
					<div class="new_main">
						<strong>习近平：扎扎实实推进军民融合深度发展</strong>
						<p>新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届</p>
					</div>
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="new_date"><strong>09</strong><br>2018.06</div>
					<div class="new_main">
						<strong>习近平：扎扎实实推进军民融合深度发展</strong>
						<p>新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届</p>
					</div>
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="new_date"><strong>02</strong><br>2018.06</div>
					<div class="new_main">
						<strong>习近平：扎扎实实推进军民融合深度发展</strong>
						<p>新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届</p>
					</div>
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="new_date"><strong>27</strong><br>2018.05</div>
					<div class="new_main">
						<strong>习近平：扎扎实实推进军民融合深度发展</strong>
						<p>新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届</p>
					</div>
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="new_date"><strong>23</strong><br>2018.05</div>
					<div class="new_main">
						<strong>习近平：扎扎实实推进军民融合深度发展</strong>
						<p>新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届</p>
					</div>
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="new_date"><strong>17</strong><br>2018.05</div>
					<div class="new_main">
						<strong>习近平：扎扎实实推进军民融合深度发展</strong>
						<p>新华社北京3月12日电（记者李宣良、梅世雄）中共中央总书记、国家主席、中央军委主席习近平12日上午在出席十三届</p>
					</div>
				</a>
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>