<div class="partners">
	<div class="container">
		<span class="container_title">我们的合作伙伴 OUR PARTNERS</span>
		<ul>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
			<li>
				<img src="/static/images/customer1.png">
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>