<div class="process">
	<div class="container">
		<span class="container_title">我们的服务流程 OUR SERVICE PROCESS</span>
		<ul class="process_main">
			<li><img src="/static/images/hy.jpg" width="478px"></li>
			<li class="process_item">
				<ul>
					<li>
						<div class="process_num">01</div>
						<div><img src="/static/images/process_msg.png"></div>
						<div class="process_text">
							<strong>需求沟通</strong><br>
							<span>概念设计、用户研究<br>策略研究、品牌了解</span>
						</div>
					</li>
					<li>
						<div class="process_num">03</div>
						<div><img src="/static/images/process_write.png"></div>
						<div class="process_text">
							<strong>产品研发</strong><br>
							<span>系统集成、后端开发<br>前端开发、系统分析</span>
						</div>
					</li>
					<li>
						<div class="process_num">05</div>
						<div><img src="/static/images/process_success.png"></div>
						<div class="process_text">
							<strong>产品交付</strong><br>
							<span>运维支持、交付培训<br>源码交付、系统部署</span>
						</div>
					</li>
				</ul>
			</li>
			<li class="process_ico">
				<ul>
					<li><img src="/static/images/jiantou.png"></li>
					<li><img src="/static/images/jiantou.png"></li>
				</ul>
			</li>
			<li class="process_item">
				<ul>
					<li>
						<div class="process_num">02</div>
						<div><img src="/static/images/process_ui.png"></div>
						<div class="process_text">
							<strong>产品设计</strong><br>
							<span>设计执行、风格研究<br>交互设计、原型设计</span>
						</div>
					</li>
					<li>
						<div class="process_num">04</div>
						<div><img src="/static/images/process_test.png"></div>
						<div class="process_text">
							<strong>产品测试</strong><br>
							<span>代码评估、安全性测试<br>可用性评估、功能测试</span>
						</div>
					</li>
				</ul>
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>