<div class="service_case">
	<div class="container">
		<div>
			<span class="container_title">我们的成果</span>
		</div>
		<ul>
			<li>
				<a href="/news/123">
					<div class="service_case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="service_case_line"></div>
					<div class="service_case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="service_case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="service_case_line"></div>
					<div class="service_case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="service_case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="service_case_line"></div>
					<div class="service_case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</li>
			<li>
				<a href="/news/123">
					<div class="service_case_title">
						<h2>梦幻迷宫</h2>
					</div>
					<div class="service_case_line"></div>
					<div class="service_case_mark"></div>
					<img src="/static/images/service_case.jpg">
				</a>
			</li>
		</ul>
		<div style="clear:both;"></div>
	</div>
</div>