<!DOCTYPE html>
<html>
<head>
<title>[title]</title>
<meta name="keywords" content="DOJAY" />
<meta name="description" content="DOJAY" />
<meta name="author" content="dojay" />
<link rel="icon" type="image/ico" href="favicon.ico">
{css href="/static/css/dojay.css" /}
{css href="/static/css/[name].css" /}
</head>
<body>
<nav>
	<div class="fl logo">
		<img src="/static/images/logo.png" height="30px">
	</div>
	<div class="fr">
		<ul class="fl nav">
			<li><a href="/">首&nbsp;&nbsp;页</a></li>
			<li><a href="/">服务项目</a></li>
			<li><a href="/">成功案例</a></li>
			<li><a href="/about">关于我们</a></li>
			<li><a href="/news">新闻资讯</a></li>
			<li><a href="/contact">联系我们</a></li>
		</ul>
		<ul class="fl contact">
			<li>
				<a href="javascript:void(0);"><img src="/static/images/weixin.png"></a>
			</li>
			<li>
				<a href="javascript:void(0);"><img src="/static/images/phone.png"></a>
			</li>
			<div><img src="/static/images/wx_gzh.jpg" width="120px"></div>
			<div>18018597991<br>18939873459</div>
		</ul>
	</div>
</nav>